extends layout

block content
  // /#left-panel
  // Left Panel
  // Right Panel
  #right-panel.right-panel
    // Header
    header#header.header
      .top-left
        .navbar-header
          a.navbar-brand(href="./")
            i.swg.swg-wookie.swg-2x
          a.navbar-brand.hidden(href="./")
            img(src="images/logo2.png" alt="Other")
          a#menuToggle.menutoggle
            i.fa.fa-bars
      .top-right
        .header-menu
          .header-left
            button.search-trigger
              i.fa.fa-search
            .form-inline
              form.search-form
                input.form-control.mr-sm-2(type="text" placeholder="Search ..." aria-label="Search")
                button.search-close(type="submit")
                  i.fa.fa-close
    // /header
    // Header
    .content.pb-0
      .row
        .col-lg-2.col-md-2
          .card
            .card-body-- 
              .title
                  i.fa.fa-bus.flat-color-2
        .col-lg-3.col-md-3
          .card
            .card-body--
              canvas#doughnut-chart(width='800', height='410')
        .col-lg-4.col-md-4
          .card
            .card-body
              canvas#myChart(width='800', height='250')
        .col-lg-3.col-md-3
          .card
            .card-body
              .threat-level-number
                | V
                br
              .threat-level
                | Threat Level
          

      .clearfix
        .stat-table
          .row
            .col-xl-12
              .card
                .card-body--
                  table.table
                    tbody
                      tr.stat-row
                        td
                          span#affected 0
                        td
                          span#total-vuln 0
                        td
                          span#low 0
                        td
                          span#med 0
                        td
                          span#high 0
                        td
                          span#critical 0
                      tr
                        td Affected files
                        td Total Vulnerabilities
                        td Low
                        td Medium
                        td High
                        td Critical
  
                  // Vuln Stats
      .clearfix
        .orders
          .row
            .col-xl-12
              .card
                .card-body
                  h4.box-title Details 
                .card-body--
                  .table-stats.order-table.ov-h
                    table.table
                      thead
                        tr
                          th.serial #
                          th Name
                          th Severity
                          th Current Version
                          th Below Affected Versions
                          th At or Above Affected Versions
                          th CVE ID
                          th Summary
                      tbody.vuln-body


                  // /.table-stats
    // .content
    .clearfix
    footer.site-footer
      .footer-inner.bg-white
  // /#right-panel
  script(src="/javascripts/js/component_utils.js")
  script(src="/javascripts/js/fill_data.js")
  script(src="/javascripts/js/countup.js")
  script(src="/javascripts/js/plugins.js")
  script(src="/javascripts/js/main.js")
  script.
    $.post( "/project_vuln_details", { projectName : 'Bus' }, function( data ) {
    console.log(typeof(data))
    //- console.log(data)
    parse_data(data, callback);
    });