extends layout

block content
  // /#left-panel
  // Left Panel
  // Right Panel
  #right-panel.right-panel
    // Header
    header#header.header
      .top-left
        .navbar-header
          a.navbar-brand(href="./")
            i.swg.swg-wookie.swg-2x
          a.navbar-brand.hidden(href="./")
            img(src="images/logo2.png" alt="Other")
          a#menuToggle.menutoggle
            i.fa.fa-bars
      .top-right
        .header-menu
          .header-left
            button.search-trigger
              i.fa.fa-search
            .form-inline
              form.search-form
                input.form-control.mr-sm-2(type="text" placeholder="Search ..." aria-label="Search")
                button.search-close(type="submit")
                  i.fa.fa-close
    // /header
    // Header
    .content.pb-0
      .row
        .col-lg-12
          .card
            .card-header
              strong Git
              |  scanner
            .card-body.card-block
              .form-horizontal
                .row.form-group#p-bar
                  .col.col-md-12
                    .input-group
                      input#input1-group2.form-control.searchtext(type="text" name="input1-group2" placeholder="Git repository URL...")
                      .input-group-btn
                        button.btn.clonebtn
                          i.fa.fa-clone
                          |  Clone
                      .input-group-btn
                        button.btn.scanbtn
                          i.fa.fa-search
                          |  Scan
                  //- .input-group.input-file(name='Fichier1')
                  //-   input.form-control.searchtext(placeholder='Choose a file...', type='text')
                  //-   span.input-group-btn
                  //-     button.btn.btn-default.btn-choose(type='button') Choose
                  //-   // COMPONENT END
                  
                  //-   button.btn.btn-primary.pull-right.send-folder(type='submit') Submit
                  //-   button.btn.btn-danger(type='reset') Reset

    // .content
    .clearfix
    footer.site-footer
      .footer-inner.bg-white
  // /#right-panel
  script(src="/javascripts/js/git_scanner.js")
  script(src="/javascripts/js/countup.js")
  script(src="/javascripts/js/plugins.js")
  script(src="/javascripts/js/main.js")