extends layout

block content
  // /#left-panel
  // Left Panel
  // Right Panel
  #right-panel.right-panel
    // Header
    header#header.header
      .top-left
        .navbar-header
          a.navbar-brand(href="./")
            i.swg.swg-wookie.swg-2x
          a#menuToggle.menutoggle
            i.fa.fa-bars
      .top-right
        .header-menu
          .header-left
            button.search-trigger
              i.fa.fa-search
            .form-inline
              form.search-form
                input.form-control.mr-sm-2(type="text" placeholder="Search ..." aria-label="Search")
                button.search-close(type="submit")
                  i.fa.fa-close
    // /header
    // Header
    .content.pb-0
      // Widgets
      .row.header
        .col-lg-2.col-md-2
          .card-h
            .card-body.black-bg
              .stat-widget-five
                .stat-icon.dib.text-white
                  i.fa.fa-chain-broken
                .stat-content
                  .stat-text
                    span.text-white Total
                  .text-left.dib
                    .stat-text
                      span.text-white#total-vuln 0
                    .stat-heading.text-white Vulnerabilities
        .col-lg-2.col-md-2
          .card-h
            .card-body.low-bg
              .stat-widget-five
                .stat-icon.dib.text-white
                  i.fa.fa-exclamation
                .stat-content
                  .stat-text
                    span.text-white Low
                  .text-left.dib
                    .stat-text
                      span.text-white#low 0
                    .stat-heading.text-white Vulnerabilities
        .col-lg-2.col-md-2
          .card-h
            .card-body.med-bg
              .stat-widget-five
                .stat-icon.dib.text-white
                  i.fa.fa-fire-extinguisher 
                .stat-content
                  .stat-text
                    span.text-white Medium
                  .text-left.dib
                    .stat-text
                      span.text-white#med 0
                    .stat-heading.text-white Vulnerabilities
        .col-lg-2.col-md-2
          .card-h
            .card-body.high-bg
              .stat-widget-five
                .stat-icon.dib.text-white
                  i.fa.fa-fire
                .stat-content
                  .stat-text
                    span.text-white High
                  .text-left.dib
                    .stat-text
                      span.text-white#high 0
                    .stat-heading.text-white Vulnerabilities
        .col-lg-2.col-md-2
          .card-h
            .card-body.critical-bg
              .stat-widget-five
                .stat-icon.dib.text-white
                  i.fa.fa-warning
                .stat-content
                  .stat-text
                    span.text-white Critical
                  .text-left.dib
                    .stat-text
                      span.text-white#critical 0
                    .stat-heading.text-white Vulnerabilities
        .col-lg-2.col-md-2
          .card-h
            .card-body.threat-bg
              .stat-widget-five
                .stat-icon.dib.text-white
                  i.fa.fa-bar-chart-o
                .stat-content
                  .stat-text
                    span.text-white Threat
                  .text-left.dib
                    .stat-text
                      span.text-white.threat-level-dash V
                    .stat-heading.text-white Level
      .row
        .col-lg-6.col-md-6
          .card
            .card-body
              canvas#myChart(width='800', height='450')
              script.
                var ctx = document.getElementById("myChart").getContext('2d');
                var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                labels: [new Date("2018-3-1").toDateString(), new Date("2018-4-1").toDateString(), new Date("2018-5-1").toDateString(), new Date("2018-5-1").toDateString(), new Date("2018-5-1").toDateString(), new Date("2018-5-1").toDateString(), new Date("2018-5-1").toDateString()],
                datasets: [{
                data: [{t: new Date("2018-3-1"), y: 2},{t: new Date("2018-4-1"), y: 5},{t: new Date("2018-5-1"), y: 6},{t: new Date("2018-6-1"), y: 3},{t: new Date("2018-7-1"), y: 7},{t: new Date("2018-8-1"), y: 1},{t: new Date("2018-5-1"), y: 4}],
                label: "Number of vulnerabilities",
                borderColor: "#3e95cd",
                fill: false
                }
                ]
                },
                options: {
                title: {
                display: true,
                text: 'Count history'
                },
                scales: {
                yAxes: [{
                ticks: {
                padding: 15,
                }
                }],
                xAxes: [{
                ticks: {
                padding: 15
                }
                }],
                }
                }
                });
        .col-lg-6.col-md-6
          .card
            .card-body
              canvas#doughnut-chart(width='800', height='450')

      .row
        .col-lg-12.col-md-12
          .card
            .card-body
              .row
                .col-lg-2.col-md-2
                  .stat-widget-five
                    .stat-icon.dib.flat-color-2
                      i.fa.fa-bus
                    .stat-content
                      .stat-text
                        span Bus
                      .text-left.dib
                        .stat-text
                          span.totBus 0
                        .stat-heading Vulnerabilities
                .col-lg-2.col-md-2
                  .values
                    p.lowBus.num 0
                    p Low
                .col-lg-2.col-md-2
                  .values
                    p.medBus.num 0
                    p Medium
                .col-lg-2.col-md-2
                  .values
                    p.highBus.num 0
                    p High
                .col-lg-2.col-md-2
                  .values
                    p.criticalBus.num 0
                    p Critical
                .col-lg-1.col-md-1
                  .values
                    p.threat-dash-number I
                    p Threat Level
                .col-lg-1.col-md-1
                  .values
                    button.btn.btn-primary.syncBus
                      i.fa.fa-refresh
                .col-lg-2.col-md-2.align-self-end
                  .timeBus.time Last scan 7:43 12/02/18
      .row
        .col-lg-12.col-md-12
          .card
            .card-body
              .row
                .col-lg-2.col-md-2
                  .stat-widget-five
                    .stat-icon.dib.flat-color-3
                      i.fa.fa-train
                    .stat-content
                      .stat-text
                        span Train
                      .text-left.dib
                        .stat-text
                          span.totTrain 0
                        .stat-heading Vulnerabilities
                .col-lg-2.col-md-2
                  .values
                    p.lowTrain.num 0
                    p Low
                .col-lg-2.col-md-1
                  .values
                    p.medTrain.num 0
                    p Medium
                .col-lg-2.col-md-2
                  .values
                    p.highTrain.num 0
                    p High
                .col-lg-2.col-md-2
                  .values
                    p.criticalTrain.num 0
                    p Critical
                .col-lg-1.col-md-1
                  .values
                    p.threat-dash-number I
                    p Threat Level
                .col-lg-1.col-md-1
                  .values
                    button.btn.btn-primary.syncTrain
                      i.fa.fa-refresh
                .col-lg-2.col-md-2.align-self-end
                  .timeTrain.time Last scan 7:43 12/02/18
      .row
        .col-lg-12.col-md-12
          .card
            .card-body
              .row
                .col-lg-2.col-md-2
                  .stat-widget-five
                    .stat-icon.dib.flat-color-5
                      i.fa.fa-money
                    .stat-content
                      .stat-text
                        span Payments
                      .text-left.dib
                        .stat-text
                          span.totPayment 0
                        .stat-heading Vulnerabilities
                .col-lg-2.col-md-2 
                  .values
                    p.lowPayment.num 0
                    p Low
                .col-lg-2.col-md-2
                  .values
                    p.medPayment.num 0
                    p Medium
                .col-lg-2.col-md-2
                  .values
                    p.highPayment.num 0
                    p High
                .col-lg-2.col-md-2
                  .values
                    p.criticalPayment.num 0
                    p Critical
                .col-lg-1.col-md-1
                  .values
                    p.threat-dash-number I
                    p Threat Level
                .col-lg-1.col-md-1
                  .values
                    button.btn.btn-primary.syncPayments
                      i.fa.fa-refresh
                .col-lg-2.col-md-2.align-self-end
                  .timePayment.time Last scan 7:43 12/02/18
      .row
        .col-lg-12.col-md-12
          .card
            .card-body
              .row
                .col-lg-2.col-md-2
                  .stat-widget-five
                    .stat-icon.dib.flat-color-6
                      i.fa.fa-hotel
                    .stat-content
                      .stat-text
                        span Hotels
                      .text-left.dib
                        .stat-text
                          span.totHotels 0
                        .stat-heading Vulnerabilities
                .col-lg-2.col-md-2
                  .values
                    p.lowHotels.num 0
                    p Low
                .col-lg-2.col-md-2
                  .values
                    p.medHotels.num 0
                    p Medium
                .col-lg-2.col-md-2
                  .values
                    p.highHotels.num 0
                    p High
                .col-lg-2.col-md-2
                  .values
                    p.criticalHotels.num 0
                    p Critical
                .col-lg-1.col-md-1
                  .values
                    p.threat-dash-number I
                    p Threat Level
                .col-lg-1.col-md-1
                  .values
                    button.btn.btn-primary.syncHotels
                      i.fa.fa-refresh
                .col-lg-2.col-md-2.align-self-end
                  .timeHotels.time Last scan 7:43 12/02/18
                  

    // .content
    .clearfix
    footer.site-footer
      .footer-inner.bg-white
        .row
          button.btn.btn-xl.btn-plus +

  // /#right-panel
  script(src="/javascripts/js/plugins.js")
  script(src="/javascripts/js/main.js")
  script(src="/javascripts/js/load_stats.js")
  script(src="/javascripts/js/countup.js")
  script(src="/javascripts/js/add_repo.js")