doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7(lang="")  
//if IE 7
  html.no-js.lt-ie9.lt-ie8(lang="")  
//if IE 8
  html.no-js.lt-ie9(lang="")  
// [if gt IE 8] <!
html.no-js(lang="")
  // <![endif]
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
    link(rel="apple-touch-icon" href="images/favicon.png")
    link(rel="shortcut icon" href="images/favicon.png")
    link(rel="stylesheet" href="/stylesheets/css/default.min.css")
    link(rel="stylesheet" href="/stylesheets/css/normalize.css")
    link(rel="stylesheet" href="/stylesheets/css/font-awesome.min.css")
    link(rel="stylesheet" href="/stylesheets/css/starwars-glyphicons.css")
    link(rel="stylesheet" href="/stylesheets/css/themify-icons.css")
    link(rel="stylesheet" href="/stylesheets/css/pe-icon-7-filled.css")
    link(rel="stylesheet" href="/stylesheets/css/style.css")
    link(rel="stylesheet" href="/stylesheets/css/alertify.min.css")
    link(rel="stylesheet" href="/stylesheets/css/semantic.min.css")
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href='https://fonts.googleapis.com/css?family=Quattrocento', rel='stylesheet')

    script(src='https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.js')
    script(src='/javascripts/js/countup.js')
    script(src='/javascripts/js/loadingoverlay.js')
    script(src='/javascripts/js/nanobar.min.js')
    script(src='/javascripts/js/alertify.min.js')
    
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js', integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous")
  body
    // Left Panel
    aside#left-panel.left-panel
      nav.navbar.navbar-expand-sm.navbar-default
        #main-menu.main-menu.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href="/")
                i.menu-icon.fa.fa-laptop
                | Dashboard
            li
              a(href="/scanner" aria-haspopup="true" aria-expanded="false")
                i.menu-icon.fa.fa-crosshairs
                | Local scanner
            li
              a(href="/git_scanner" aria-haspopup="true" aria-expanded="false")
                i.menu-icon.fa.fa-github
                | Git scanner
            li
              a(href="/bus" aria-haspopup="true" aria-expanded="false")
                i.menu-icon.fa.fa-bus
                | Bus
            li
              a(href="/train" aria-haspopup="true" aria-expanded="false")
                i.menu-icon.fa.fa-train
                | Train
            li
              a(href="/hotels" aria-haspopup="true" aria-expanded="false")
                i.menu-icon.fa.fa-hotel
                | Hotels
            li
              a(href="/payments" aria-haspopup="true" aria-expanded="false")
                i.menu-icon.fa.fa-money
                | Payments
            li
              a(href="/about" aria-haspopup="true" aria-expanded="false")
                i.menu-icon.fa.swg-bb8
                | About
        // /.navbar-collapse
    block content
