extends layout

block content
  // /#left-panel
  // Left Panel
  // Right Panel
  #right-panel.right-panel
    // Header
    header#header.header
      .top-left
        .navbar-header
          a.navbar-brand(href="./")
            i.swg.swg-wookie.swg-2x
          a.navbar-brand.hidden(href="./")
            img(src="images/logo2.png" alt="Other")
          a#menuToggle.menutoggle
            i.fa.fa-bars
      .top-right
        .header-menu
          .header-left
            button.search-trigger
              i.fa.fa-search
            .form-inline
              form.search-form
                input.form-control.mr-sm-2(type="text" placeholder="Search ..." aria-label="Search")
                button.search-close(type="submit")
                  i.fa.fa-close
    // /header
    // Header
    .content.pb-0
      .row
        .col-lg-12
          .card
            .card-header
              strong Local project
              |  scanner
            .card-body.card-block
              .form-horizontal
                .row.form-group#p-bar
                  .col.col-md-12
                    .input-group
                      .input-group-btn
                        form(action='/file', enctype='multipart/form-data', method='post')
                          input(name='file-to-upload', type='file', id='file_input')
                          input(value='Upload', type='submit' onclick='update_cookie()').btn.btn-primary


                  // /.table-stats
    // .content
    .clearfix
    footer.site-footer
      .footer-inner.bg-white
  // /#right-panel
  script(src="/javascripts/js/scanner.js")
  script(src="/javascripts/js/countup.js")
  script(src="/javascripts/js/plugins.js")
  script(src="/javascripts/js/main.js")